@use "../variables" as v;
@mixin button(){
    button{
        width: 100%;
        border-radius: 100px;
        margin-top: 1rem;
        letter-spacing: 0.1rem;
        color: v.$white;
        padding: 1.2rem 1rem;
        cursor: pointer;
        background: transparent;
        background-image: v.$bg-button-color;
        font-family: v.$font-family;
        font-size: 1rem;
        text-transform: uppercase;
        border: none;
    }
}