@use "../variables" as v;
.card{
    background-image: v.$bg-image-color1;
    color: v.$black;
    padding: 7rem;
    margin: 0 1.5rem;
    border-radius: 10px;
    font-family: v.$font-family;
    font-weight: 300;
}
