@use "../variables" as v;
.card{
    background-image: v.$bg-image-color1;
    color: v.$black;
    padding: 4rem;
    margin:  1.5rem;
    border-radius: 5px;
    font-family: v.$font-family;
    font-weight: 300;
    width: auto;
}
