@use "../variables" as v;   
@mixin directions(){   
   
   .directions{
            display: flex;
            justify-content: space-between;
            width: 300px;
            height: 40px;
            color: v.$main-bg2;
            background-color: v.$bg-button-color;
            padding: 25px;
            .l-arrow {
                display: inline-block;
                width: 45px;
                height: 45px;
                margin: 15px;
                border-top: solid 10px;
                border-right: solid 10px;
                transform: rotate(225deg);
                cursor: pointer;

            }

            .r-arrow {
                display: inline-block;
                width: 45px;
                height: 45px;
                margin: 15px;
                border-top: solid 10px;
                border-right: solid 10px;
                transform: rotate(45deg);
                cursor: pointer;
            }
        }
    }