@use "./variables" as v;
@use "./components/directions" as d;

 .Icontainer{
    background-image:v.$bg-card-image ;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    h4 {
            font-family: v.$font-family;
        }


    @include d.directions();
}

