@use "./variables" as v;
@use "./components/directions" as d;
.container{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-image: v.$container-bg-color;
    main{
        background-color: v.$main-bg;
        color: v.$main-text;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 5px;
        width: 50%;
        max-width: 800px;
        margin: auto;
            h1 {
                    font-family: v.$font-family;
                    font-weight: 600;
                    text-align: center;
                    letter-spacing: 0.1rem;
                    padding: 0.05rem;
                }
            
                h3 {
                    text-align: center;
                    padding: 1rem;
                    font-family: v.$font-family;
                    font-weight: 200;
                    letter-spacing: 0.3rem;
                }
        @include d.directions();
        }
    }
