// Fonts
$font-family: 'Mulish',
sans-serif;


//Background
$container-bg-color: linear-gradient(to top, #4a6da7, #5071aa, #5676ad, #5b7aaf, #617fb2);
$bg-image-color1:linear-gradient(to left bottom, #f3f9ff, #eaf5ff, #e1f0ff, #d8ecff, #cfe7ff);
$bg-button-color:linear-gradient(to top, #4a6da7, #5071aa, #5676ad, #5b7aaf, #617fb2);
$bg-card-image:linear-gradient(to top, #4a6da7, #5b7aaf, #6c88b8, #7d96c0, #8ea4c8);
// Colors
$main-bg: #4A6DA7;
$white: #fff;
$black: #161616;
$gray: #626262;
$bg-color1:#F3F9FF;
$error:#B74563;
// Text
$main-text: #E6F4F1;
$text-color1:#3592FA;
$bg-color:#BBC1C6;